* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header {
    background-color: black;
    color: white;
}

table {
    font-family: arial, sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    width: 55%;
    
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  